# Maven 编译产物
target/
!.mvn/wrapper/maven-wrapper.jar

# 敏感配置文件 (保留 sample 文件，忽略真实配置)
src/main/resources/application.properties


# IDEs
.idea/
*.iml
.vscode/
*.classpath
*.project
*.settings/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# STS / Eclipse
.apt_generated
.factorypath
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# 帮助文档
HELP.md
application-prod.properties
